<% include ../public/partials/_head %>

<body>
  <% include ../public/partials/_header %>

  <div class="entire_body_container">
    <div class="jumbotron jumbotron ">
      <div class="container">
        <h1 class="display-4">Thai Time</h1>
        <p class="lead">Offering Calgary's best Thai food since 1957</p>
      </div>
    </div>


    <div id="menu-items">


      <div class="card menu-items__card">

        <div class="card-header menu-items__flex">
          Fried rice
          <div class="menu-price">
            <h3>25</h3>
          </div>
        </div>

        <div class="menu-items__flex">
          <img class="menu-image inline" src="../styles/fried_rice.png" alt="fried_rice">
          <div class="card-body inline">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting
              text
              below as a natural lead-in to additional content.</p>
          </div>
          <input class="menu-counter" type='number' min='0' max='10'>
        </div>
      </div>

    </div>


  </div>





  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>
