<% include ../public/partials/_head %>

<body>
  <% include ../public/partials/_header %>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item main-image active">
        <img class="d-block w-100" src="/images/thai-dishes-thailand-cuisine-2.png" alt="First slide">
        <div class="carousel-caption k">
          <h2 class="display-1">Thai Time</h2>
          <p class="lead">Offering Calgary's best Thai food since 1957</p>
        </div>
      </div>
      <div class="carousel-item main-image">
        <img class="d-block w-100" src="/images/thai-dish.png" alt="Second slide">
        <div class="carousel-caption ">
          <h2 class="display-1">Thai Time</h2>
          <span id='type-writer' class="type-effect  type-writer lead"></span>
          <p class="lead">Offering Calgary's best Thai food since 1957</p>
        </div>
      </div>
      <div class="carousel-item main-image">
        <img class="d-block w-100" src="/images/thai-soup.png" alt="Third slide">
        <div class="carousel-caption ">
          <h2 class="display-1">Thai Time</h2>
          <span id='type-writer' class="type-effect type-writer lead"></span>
          <p class="lead">Offering Calgary's best Thai food since 1957</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="jumbotron jumbotron bg-image">
    <div class="container">
      <h1 class="display-1">Thai Time</h1>
      <p class="lead">Offering Calgary's best Thai food since 1957</p>
    </div>
  </div> -->

  <div class="entire_body_container">
    <% if(!userCookie) {%>
    <h5> Please log in to make an order</h5>
    <% } %>
    <form action="#" method="#">

      <section id="menu-items">
      </section>
      <section id="order-summary-container"></section>

  </div>
  <% if(userCookie) {%>
  <input id='order-button' type='submit' class="order-button" name='order' value="Order" required />
  <% } %>
  </form>

  <!-- <div class="restaurant-map"> -->
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.3944423139146!2d-114.06598578424692!3d51.04580417956196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716ffdc6d0800f%3A0x9ce05fc625a3e50c!2s112%208%20Ave%20SW%2C%20Calgary%2C%20AB%20T2P%200W5!5e0!3m2!1sen!2sca!4v1574358773507!5m2!1sen!2sca"
    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  <!-- </div> -->

  <% include ../public/partials/_footer %>


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>
