<% include ../public/partials/_head %>

<body>
  <% include ../public/partials/_header %>


  <div class="jumbotron jumbotron bg-image">
    <div class="container">
      <h1 class="display-1">Thai Time</h1>
      <p class="lead">Offering Calgary's best Thai food since 1957</p>
    </div>
  </div>

  <div class="entire_body_container">
    <form action="#" method="#">

      <section id="menu-items">

        <!-- <div class="card menu-items__card p-3 mb-3">

        <div class="card-header menu-title-price">
          Fried rice Fried rice Fried rice

          <div class="menu-price">
            <h5>25</h5>
          </div>
        </div>

        <div class="menu-items__flex">
          <img class="menu-image inline" src="../images/fried_rice.png" alt="fried_rice">
          <div class="card-body inline">
            <p class="card-text text-justify">With supporting text below as a natural lead-in to additional content.
              With supporting
              text below as a natural lead-in to additional content.</p>
          </div>

          <div class="qty">
            <span class="minus bg-danger">-</span>
            <input type="number" class="count" name="qty" value="0">
            <span class="plus bg-danger">+</span>
          </div>
        </div>
      </div> -->

      </section>

  </div>

  <input id='order-button' type='submit' class="order-button" name='order' value="Order" />
  </form>

  <% include ../public/partials/_footer %>





  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script>
    $(document).ready(function () {



      // let menuCounter = $(".menu-counter").val();
      // console.log('menuCounter ', menuCounter)

      // function showDivValues() {
      //   let elements = document.getElementsByClassName("menu-counter");
      //   let val = elements[0];
      //   console.log('val ', val);
      //   console.log('elements ', elements);

      //   // for (let i = 0; i < 5; i++) {
      //   //   console.log('LOOPING', document.getElementsByClassName("menu-counter")[i]);
      //   // }
      // }

      // showDivValues();




      // $(document).on('click', '.plus', function () {
      //   if ($('.count').val() >= 10) {
      //     $('.count').val('10');
      //     $('.count').prop('disabled', true);
      //   } else {
      //     $('.count').val(parseInt($('.count').val()) + 1);
      //   }
      // });
      // $(document).on('click', '.minus', function () {

      //   if ($('.count').val() <= 0) {
      //     $('.count').val('0');
      //     $('.count').prop('disabled', true);
      //   } else {
      //     $('.count').val(parseInt($('.count').val()) - 1);
      //   }
      // });
    });

  </script>
  <script>
    // window.addEventListener('load', function () {

    //   let menuName = document.getElementsByClassName('menu-title');
    //   let elements = document.getElementsByClassName("count");

    //   for (var i = 0; i < elements.length; i++) {
    //     console.log('ELEMENTS ', elements[i].value);
    //     console.log('MENUNAME ', menuName[i].textContent);
    //   }
    // })

  </script>
</body>

</html>
