<header>
  <nav class="navbar navbar-dark bg-info">
    <div class="navbar-brand">Orderz</div>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"></a>
        <a class="nav-item nav-link" href="/urls/new"></a>
      </div>
    </div>

    <main style="margin: 1em;">
      <% if(userCookie) {%>
      <form class="form-inline" action="/logout" method="POST">
        <div class="form-group mb-2">
          <button id='logout' type="submit" class="btn btn-outline-dark" formaction="/logout" formmethod="POST">Logout</button>
        </div>
      </form>
      <% } else { %>
      <form class="form-inline" action="/" method="GET">
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-outline-dark" formaction="/" formmethod="GET">Login</button>
          <button type="submit" class="btn btn-outline-dark" formaction="/" formmethod="GET"
            style="margin-left: 10px;text-decoration: none;">Register</button>
        </div>
      </form>
      <% } %>

  </nav>
</header>
