// See: https://sass-lang.com/
//$primary-color:
$secondary-color: #fceb92;
$st-bg-color: #17a2b8;

html {
  box-sizing: border-box;
  height: 100vh;
}

// font-family: Bungee, sans-serif;
// font-family: Source Sans Pro, sans-serif;

body {
  background-color: #d6cb95;
  * {
    margin: 0;
    padding: 0;
  }
}

// ---------------------------
//Header style
// ---------------------------

nav.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  font-size: 2rem;
  margin-right: 0;
}

.header-footer-color {
  background-color: $secondary-color;
}

// ---------------------------
//Header style end
// ---------------------------

// ---------------------------
//Background-image with text
// ---------------------------

// .jumbotron {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 1rem;
// }

.bg-image {
  //background-image: url(../images/food.png);
  //background-size: cover;
  text-align: center;
  max-width: 100vw;
  height: 50vh;
  color: white;
  font-size: 1.2rem;
}

.display-1 {
  color: white;
  font-size: 3.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lead {
  font-size: 1.3rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-inner {
  margin-bottom: 10px;
}

.main-image {
  img {
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  div {
    margin-bottom: 60px;
  }
}

// ---------------------------
//Background-image with text end
// ---------------------------

// ---------------------------
//Menu card
// ---------------------------
.entire_body_container {
  max-width: 100%;
  margin: 0 auto;
  .login-request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    color: crimson;
    border: 1px solid red;

  }
}

.menu-title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.menu-items__card {
  background-color: $secondary-color;
}

.menu-items__flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  img {
    max-width: 250px;
    width: 100%;
    height: 150px;
  }
}

.menu-counter {
  width: 100px;
  border: 2px solid red;
}

// ---------------------------
//Menu card end
// ---------------------------

// ---------------------------
//Order button and map
// ---------------------------
.order-button {
  position: fixed;
  bottom: 30px;
  right: 15px;
  opacity: 0.9;
  background-color: chocolate;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 15%;
  border: none;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

iframe {
  display: block;
  padding: 0 5px;
  margin: 0 auto 10px;
  width: 500px;
  max-width: 100%;
  height: 300px;
}

// ---------------------------
//Order button and map end
// ---------------------------

// ---------------------------
//Footer
// ----------------------------
footer {
  bottom: 0;
  color: #343a40;
  a {
    color: #343a40;
  }
}

// ---------------------------
//Footer end
// ----------------------------

// ---------------------------
//Media querires
// ---------------------------

@media screen and (min-width: 475px) {
  nav.navbar {
    display: flex;
    flex-direction: row;
  }

  .display-1 {
    font-size: 4rem;
  }

  .lead {
    font-size: 1.5rem;
  }

  .entire_body_container {
    max-width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .menu-items__flex {
    flex-direction: row;
  }
  .display-1 {
    font-size: 6.2rem;
  }

  .lead {
    font-size: 2rem;
  }

  .order-button {
    bottom: 80px;
    right: 15px;
  }
}

// ---------------------------
//Media querires end
// ---------------------------
