// See: https://sass-lang.com/
//$primary-color:
$secondary-color: lightgreen;
$st-bg-color: #17a2b8;

html {
  box-sizing: border-box;
}

// font-family: Bungee, sans-serif;
// font-family: Source Sans Pro, sans-serif;

body {
  background-color: #eee;
  * {
    margin: 0;
    padding: 0;
  }
}

// ---------------------------
//Header style
// ---------------------------

nav.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  font-size: 2rem;
  margin-right: 0;
}

// ---------------------------
//Header style end
// ---------------------------

// ---------------------------
//Background-image with text
// ---------------------------

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.bg-image {
  background-image: url(../images/food.png);
  background-size: cover;
  text-align: center;
  height: 50vh;
  color: white;
  font-size: 1.2rem;
}

.display-1 {
  color: white;
  font-size: 3.5rem;
}

.lead {
  font-size: 1.3rem;
}

// ---------------------------
//Background-image with text end
// ---------------------------

// ---------------------------
//Menu card
// ---------------------------
.entire_body_container {
  max-width: 100%;
  margin: 0 auto;
}

.menu-title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.menu-items__card {
  background-color: $secondary-color;
}

.menu-items__flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  img {
    max-width: 250px;
    width: 100%;
    height: auto;
  }
}

.menu-counter {
  width: 100px;
  border: 2px solid red;
}

// ---------------------------
//Menu card end
// ---------------------------

.page-footer {
  color: #343a40;
  a {
    color: #343a40;
  }
}

.order-button {
  position: fixed;
  bottom: 30px;
  right: 15px;
  opacity: 0.9;
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 15%;
  border: none;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

}

// ---------------------------
//Media querires
// ---------------------------

@media screen and (min-width: 475px) {
  nav.navbar {
    display: flex;
    flex-direction: row;
  }

  .display-1 {
    font-size: 4rem;
  }

  .lead {
    font-size: 1.5rem;
  }

  .entire_body_container {
    max-width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .menu-items__flex {
    flex-direction: row;
  }
  .display-1 {
    font-size: 6.2rem;
  }

  .lead {
    font-size: 2rem;
  }

  .order-button {
    bottom: 80px;
    right: 15px;
  }
}

// ---------------------------
//Media querires end
// ---------------------------
